$orange: #fc9726;
$blue: #3f9cd1;
$dark: #000;
$light: #fff;
$gray: #ccc;

$base-size: 62.5%;

$font-regular: "lato_regular", sans-serif;
$font-bold: "lato_bold", sans-serif;
$font-light: "lato_light", sans-serif;
$font-black: "lato_black", sans-serif;
