@font-face {
  font-family: "lato_bold";
  src: url("../fonts/lato-bold-webfont.woff") format("woff2"),
    url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lato_regular";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"),
    url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lato_black";
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"),
    url("../fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lato_light";
  src: url("../fonts/lato-light-webfont.woff2") format("woff2"),
    url("../fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin media-query($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

html {
  font-size: $base-size;
  @media screen and (max-width: 450px) {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  color: $dark;
  line-height: 1.4;
  font-family: $font-regular;
  position: relative;
}

.sm_only {
  display: none;
  @include media-query(450px) {
    display: block;
  }
}

.form-group {
  input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    outline: none;
  }
}

.btn-cta {
  padding: 1rem 1.4rem;
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: $blue;
  color: $light !important;
  justify-self: center;
}
