@font-face {
  font-family: "lato_bold";
  src: url("./fonts/lato-bold-webfont.woff") format("woff2"),
    url("./fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lato_regular";
  src: url("./fonts/lato-regular-webfont.woff2") format("woff2"),
    url("./fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lato_black";
  src: url("./fonts/lato-black-webfont.woff2") format("woff2"),
    url("./fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lato_light";
  src: url("./fonts/lato-light-webfont.woff2") format("woff2"),
    url("./fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin media-query($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin btn($color, $width) {
  padding: 1rem 1.4rem;
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  max-width: $width;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  background-color: $color;
  color: #fff;
}

* {
  text-decoration: none;
}

html {
  font-size: $base-size;
  @media screen and (max-width: 950px) {
    font-size: 57%;
  }
  @media screen and (max-width: 450px) {
    font-size: 55%;
  }
}

body {
  font-size: 1.4rem;
  color: $dark;
  line-height: 1.4;
  font-family: $font-regular;
  position: relative;
}

.sm_only {
  display: none;
  @include media-query(450px) {
    display: block !important;
  }
}

.lg_only {
  display: block;
  @include media-query(450px) {
    display: none !important;
  }
}

form {
  .form__group.with__cancel {
    margin-top: 2rem;
  }
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  label {
    display: block;

    margin-bottom: 1rem;
    font-weight: bold;
  }

  img {
    padding: 0 0.5rem;
  }

  span {
    color: $dark;
  }
  .radio_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // margin-bottom: 1rem;
    img {
      margin-bottom: 0;
    }
  }

  .dollar {
    position: relative;
    .sign {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    input[type="number"],
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      padding-left: 2.5rem;
    }
  }

  .error-msg.radio {
    top: 12rem !important;
    right: 50% !important;
    transform: translateX(50%);
  }

  input[type="radio"] {
    width: unset;
  }

  input[type="radio"] + span {
    padding-left: 1rem;
    align-self: center;
  }

  select,
  input[type="number"],
  textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    outline: none;
  }

  textarea {
    min-height: 15rem;
  }

  button.submit {
    padding: 1rem 1.4rem;
    display: inline-block;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    background-color: #3f9cd1;
    color: #fff;
  }
}

.form-group {
  input,
  select {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    outline: none;
    height: 3.5rem;
  }
}

.btn-cta {
  padding: 1rem 1.4rem;
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: $blue;
  color: $light !important;
  justify-self: center;
}

.remove_border {
  border-bottom: none !important;
}

// .form-group.error {
//   .account-error {
//     display: block;
//     color: $error;
//   }
//   input,
//   select {
//     border: 1px solid $error;
//   }
// }

.form-group {
  position: relative;

  label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  input,
  select {
    border: 1px solid $dark-1;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    outline: none;
  }

  .account-error {
    position: absolute;
    top: 1rem;
    right: 0;
    display: none;
  }

  input:focus,
  select:focus {
    border: 1px solid $blue;
  }
}

.hide_me {
  display: none;
}

.lg-only {
  @include media-query(420px) {
    display: none !important;
  }
}

.sm-only {
  display: none;
  @include media-query(420px) {
    display: block;
  }
}
