// Use for the my account page

.main-header {
  height: 7rem;
  padding: 1rem 0;
  background-color: #fafafa;
  position: relative;
  width: 100%;
  transition: 0.5s ease;
  img {
    width: 250px;
    height: 50px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .toggle-menu {
      position: absolute;
      top: 2rem;
      right: 2rem;
      display: none;
      cursor: pointer;
      @include media-query(600px) {
        display: block;
      }
      .bar {
        width: 3rem;
        height: 0.4rem;
        background-color: #3f9cd1;
        display: block;
        margin-bottom: 0.4rem;
      }
    }
  }
}

nav {
  align-self: center;
  @include media-query(600px) {
    position: fixed;
    width: 100%;
    background-color: $light;
    color: $dark;
    z-index: 999;
    left: 120rem;
    top: 0rem !important;
    height: 100vh;
    padding: 4rem 2rem;

    .close-menu {
      position: absolute;
      right: 3rem;
      top: 5rem;
      cursor: pointer;
      .bar {
        background-color: $blue;
        height: 3px;
        width: 3rem;
        display: block;

        &:first-child {
          transform: rotate(45deg) translate(2px, 2px);
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  ul {
    display: flex;

    @include media-query(600px) {
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
    }
    li {
      margin-left: 2rem;
      align-self: center;
      @include media-query(600px) {
        padding: 2rem 45%;
        margin-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      a {
        color: $dark;
        text-decoration: none;
        @include media-query(600px) {
          font-size: 2rem;
        }
      }
    }
  }
}

nav.isShow {
  left: 0;
}

// end

.account {
  &__info {
    padding: 0 3rem;
    .donor__dashboard__header {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      border-bottom: 1px solid $gray;

      h3 {
        font-size: 2rem;
        color: gray;
        text-transform: uppercase;
      }
      button {
        color: $blue;
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: bold;
        transition: 0.5s ease;
        cursor: pointer;
        &:hover {
          color: darken($blue, 20);
        }
      }
    }
    &__block {
      margin-bottom: 1rem;

      .password__update {
        display: flex;
        align-items: flex-end;
        position: relative;
        input {
          width: 35rem;
        }
        @include media-query(420px) {
          flex-direction: column;
          align-items: flex-start;
          .form-group {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
        button {
          @include btn($blue, 25rem);
          margin: 0;
          margin-left: 1rem;
          @include media-query(420px) {
            max-width: 100%;
            width: 100%;
            margin: 0;
          }
          &:hover {
            background-color: darken($orange, 20);
            color: $light;
          }
        }
        .account-error {
          position: absolute;
          top: -1rem;
          color: $error;
          display: block;
        }
      }

      button {
        border: none;
        background-color: transparent;
        color: $blue;
        font-size: 1.6rem;
        font-weight: bold;
        transition: 0.5s ease;
      }

      button:hover {
        cursor: pointer;
        color: darken($blue, 20);
      }

      p {
        padding: 1rem 0;
        font-size: 1.6rem;
        line-height: 1.6;
      }

      ul {
        li {
          margin-bottom: 1rem;
        }
      }
      .info__with__label {
        margin-bottom: 2rem;
        small {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
          font-size: 1.4rem;
          opacity: 1;
        }
        p {
          margin-top: 1rem;
          line-height: 1.2;
          padding: 0;
          font-size: 1.4rem;
        }
      }

      a {
        text-decoration: none;
        color: $dark;
        transition: 0.5s ease;

        &:hover {
          color: $blue;
        }
      }

      .card__info__flex {
        display: flex;
        justify-content: space-between;
        @include media-query(450px) {
          flex-direction: column;
        }
      }
    }
  }

  &__sidebar {
    flex-basis: 30%;
    padding: 3rem;
  }
}

.sponsor__list {
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    @include media-query(1200px) {
      padding: 0 1.5rem;
    }
  }

  .responsive__table {
    overflow: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    tr th {
      padding-bottom: 1rem;
      text-transform: uppercase;
      border-bottom: 1px solid #ccc;
      border: none;
      width: 5rem;
    }

    tbody {
      tr {
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: none;
        }
      }
      td {
        padding: 0.2rem 0;
        img {
          width: 4rem;
          height: 4rem;
          display: block;
          margin-left: 1rem;
          object-fit: cover;
          object-position: top center;
          margin: 0 auto;
        }
      }
    }
    button {
      text-decoration: none;
      padding: 0 1rem;
      background-color: transparent;
      border: none;
      transition: 0.5s ease;
      cursor: pointer;
      &:nth-last-of-type(1) {
        color: $error;
        &:hover {
          color: darken($error, 20);
        }
      }

      &:nth-last-of-type(2) {
        color: $blue;
        &:hover {
          color: darken($blue, 20);
        }
      }
    }
  }
}

// Mon 2-4

.donor__dashboard .grid {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-gap: 2rem;
  margin: 2rem 0;
  padding: 0 1.5rem;
  min-height: calc(100vh - 190px);
  @include media-query(420px) {
    grid-template-columns: 1fr;
  }
  aside {
    border-right: 1px solid $gray;
    // padding: 2rem 0;
    @include media-query(420px) {
      z-index: 9999;
      padding: 0.8rem 0;
      order: 2;
      position: fixed;
      border-top: 1px solid $gray;
      background-color: $gray;
      bottom: 0;
      left: 0;
      width: 100%;
      box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
    }

    ul {
      @include media-query(420px) {
        display: flex;
        justify-content: space-evenly;
        li a {
          font-size: 1.4rem;
          span {
            margin-left: 5px !important;
          }
        }
      }
    }

    ul li {
      padding: 1rem 0.5rem;
      transition: 0.5s ease;
      &:hover {
        background-color: $gray;
        cursor: pointer;
      }
      a {
        display: block;
        color: $dark;
        display: flex;
        position: relative;
        span {
          display: block;
          margin-left: 1rem;
          align-self: center;
        }
        &.active::after {
          content: "";
          position: absolute;
          top: 0;
          right: -5px;
          width: 5px;
          height: 100%;
          background-color: $blue;
          @include media-query(420px) {
            width: 2px;
            height: 100%;
            top: 0;
            left: -10px;
          }
        }
      }
    }
  }
}

.donor__dashboard__header {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
