.main__block__form {
  max-width: 65rem;
  .btn {
    @include btn($blue, 48rem);
    display: inline-block;
  }
}

.donor__form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  .donor--name {
    grid-column: 1 / 6;
  }
  .donor--street {
    grid-column: 1 /6;
  }
  .donor--state {
    grid-column: 1 /3;
    @include media-query(420px) {
      grid-column: 1 / 6;
    }
  }
  .donor--country {
    grid-column: 3 /5;
    @include media-query(420px) {
      grid-column: 1 / 6;
    }
  }
  .donor--zip {
    grid-column: 5 / 6;
    @include media-query(420px) {
      grid-column: 1 / 6;
    }
  }
  .donor--email {
    grid-column: 1 / 4;
    @include media-query(420px) {
      grid-column: 1 / 6;
    }
  }
  .donor--contact {
    grid-column: 4 / 6;
    @include media-query(420px) {
      grid-column: 1 / 6;
    }
  }
}

.responsive__table__wrapper {
  overflow: auto;

  max-height: 30rem;
}
