.main__block {
  .table__wrapper {
    overflow-x: auto;
  }
  &__donor__table {
    border-collapse: collapse;
    margin-bottom: 10rem;
    width: 100%;
    table-layout: fixed;
    @include media-query(420px) {
      width: 70rem;
    }

    thead {
      border-bottom: 1px solid $gray;
    }
    tr {
      text-align: left;
      th {
        padding: 0.5rem 0;
        text-align: left;
      }
      td {
        padding: 0.6rem 0rem;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: $light-2;
      }

      .donor__option {
        position: relative;
        width: 4rem;
        height: 3rem;

        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $light;
          border: 1px solid #ccc;
        }
        &__icon {
          cursor: pointer;
          margin-top: -0.5rem;
          padding: 0.9rem;
          span {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $darkgray;
            display: inline-block;
          }
        }
        &__menu {
          display: none;
          position: absolute;
          right: 0rem;
          top: 110%;
          background-color: $light;
          padding: 1rem;
          z-index: 5;
          max-width: 25rem;
          width: 10rem;
          border: 1px solid #ccc;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

          ul {
            li:last-child {
              margin-bottom: 0;
            }
            li {
              margin-bottom: 0.5rem;
              text-align: left;
              padding: 0.2rem 0;

              button {
                font-size: 1.4rem;
                border: none;
                background-color: transparent;
                cursor: pointer;
                width: 100%;
                color: $blue;
                text-align: left;
                &:hover {
                  color: $orange;
                }
              }

              a {
                color: $blue;
                font-weight: bold;
                &:hover {
                  color: $orange;
                }
              }
            }
          }
        }
        &__menu.show {
          display: block;
        }
      }
    }
  }
}
