.main__block {
  .table__wrapper {
    overflow-x: auto;
  }
  &__donor__table {
    border-collapse: collapse;
    margin-bottom: 13rem;
    width: 100%;
    table-layout: fixed;
    @include media-query(420px) {
      width: 70rem;
    }

    thead {
      border-bottom: 1px solid $gray;
    }
    tr {
      text-align: left;
      th {
        padding: 0.5rem 0;
        text-align: left;
      }
      td {
        padding: 0.6rem 0rem;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: $light-2;
      }

      .donor__option {
        position: relative;
        width: 4rem;
        height: 3rem;

        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $light;
          border: 1px solid #ccc;
        }
        &__icon {
          cursor: pointer;
          margin-top: -0.5rem;
          padding: 0.9rem;
          span {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $darkgray;
            display: inline-block;
          }
        }
        &__menu {
          display: none;
          position: absolute;
          right: 0rem;
          top: 110%;
          background-color: $light;
          padding: 1rem;
          z-index: 5;
          min-width: 14rem;
          width: 100%;
          border: 1px solid #ccc;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

          ul {
            li:last-child {
              margin-bottom: 0;
            }
            li {
              margin-bottom: 0.5rem;
              text-align: left;
              padding: 0.2rem 0;

              button {
                font-size: 1.4rem;
                border: none;
                background-color: transparent;
                cursor: pointer;
                width: 100%;
                color: $blue;
                text-align: left;
                &:hover {
                  color: $orange;
                }
              }

              a {
                color: $blue;
                font-weight: bold;
                &:hover {
                  color: $orange;
                }
              }
            }
          }
        }
        &__menu.show {
          display: block;
        }
      }
    }
  }
}

.cell__status span {
  background-color: #50a41e;
  color: $light;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
}

.cell__status.inactive span {
  background-color: #ccc;
}

.donor__search__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-query(420px) {
    flex-direction: column;
  }

  form {
    @include media-query(420px) {
      margin-top: 2rem;
      width: 100%;
    }
  }

  input {
    border: 1px solid #8a8a8a;
    padding: 0.7rem 0.9rem;
    border-radius: 0.4rem;
    outline: none;
    @include media-query(420px) {
      width: 75%;
    }
    &::placeholder {
      font-style: italic;
      opacity: 0.7;
    }
  }

  button {
    padding: 0.7rem 0.9rem;
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 0.4rem;
    color: $light;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      background-color: darken($blue, 10%);
    }

    @include media-query(420px) {
      width: 23%;
    }
  }
}

.search__link {
  color: $dark;
  &:hover {
    color: $blue;
  }
}

.result__status {
  margin: 2rem 0;
  p {
    font-weight: bold;
    font-size: 1.8rem;
  }
}
