.main__block.main__dashboard {
  .main__block__grid {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  .main__block__gridItem {
    @include dashboard__card();
    margin: 0;
    margin-top: 2rem;
  }
}

.home__menu {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    @include media-query(420px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    @include dashboard__card();
  }
}
