.main__block__form {
  max-width: 40rem;
  display: none;
  margin-bottom: 5rem;
  .btn {
    @include btn($blue, 48rem);
    display: inline-block;
  }
  &__section {
    margin: 3rem 0;
    h3 {
      text-transform: uppercase;
      color: lighten($dark, 50);
      border-bottom: 1px solid $gray;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.main__block__form.show {
  display: block;
}

.main__block__table {
  display: none;
  .responsive__table__wrapper {
    overflow: auto;
    // max-height: 40rem;
  }

  .cell__action {
    button {
      font-weight: bold;
      &:focus {
        outline: 0;
      }
    }
    button:first-child {
      margin-right: 1rem;
      color: $blue;
    }
    // button:last-child {
    //   color: $dark-1;
    // }
  }

  .cell__status {
    span {
      background-color: $success;
      color: $light;
      padding: 0.4rem 1rem;
      border-radius: 0.4rem;
    }
  }

  .cell__status.inactive {
    span {
      background-color: $gray;
      color: $light;
      padding: 0.4rem 1rem;
      border-radius: 0.4rem;
    }
  }

  .cell__status.expiring {
    span {
      background-color: #ffe700;
      color: $dark;
      padding: 0.4rem 1rem;
      border-radius: 0.4rem;
    }
  }

  button {
    border: none;
    background-color: transparent;
    color: $error;
    cursor: pointer;
    &:hover {
      color: darken($error, 20);
    }
  }
}

.main__block__table.show {
  display: block;
}
