.banner {
  padding: 0.5rem 0;
  background-color: $blue;
  text-align: center;
  color: $light;
  h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
  }
}
