.banner {
  padding: 0.5rem 0;
  background-color: transparent;
  text-align: center;
  color: $dark;
  h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
  }
}

.banner__thank__you {
  background-color: $blue;
}

.banner__children__info {
  background-color: transparent;
  // h1 {
  //   margin-top: 2rem;
  // }
}
