.callToAction {
  min-height: 50rem;
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
      url("../images/callToAction.jpg");
    position: center center;
    size: cover;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    text-align: center;
    color: $light;
    max-width: 76rem;
    padding: 0 1.5rem;
    h2 {
      margin-bottom: 2rem;
      font-size: clamp(3rem, 6vw, 6rem);
    }
    p {
      margin-bottom: 4rem;
    }

    a {
      @include btn($blue, 15rem);
      background-color: $blue;
      color: $light;
    }
  }
}
