.login-bar {
  padding: 0.5rem 1rem;
  background-color: #3f9cd1;
  color: #fff;

  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 3rem;
      a {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}

.donation {
  .main {
    &__list {
      max-width: 98rem;
      margin: 0 auto;
      padding: 2rem;

      &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 2px solid #404040;
        margin-bottom: 3rem;
        h3 {
          font-size: 3rem;
          padding-bottom: 1rem;
        }

        a {
          text-decoration: none;
          color: $dark;
          font-weight: bold;
        }
      }

      &__action {
        padding: 1rem 0;
        @include media-query(420px) {
          text-align: right;
        }
        a {
          display: inline-block;
          margin-left: 2rem;
          color: $orange;
          transition: 0.5s ease;
          &:hover {
            color: darken($orange, 20);
          }
        }
        button {
          border: none;
          color: #404040;
          font-weight: bold;
          background-color: transparent;
          transition: 0.5s ease;
          cursor: pointer;
          &:hover {
            color: darken($dark, 20);
          }
        }
      }
    }
    &__list__item {
      margin-bottom: 2rem;
      @include media-query(420px) {
        margin-bottom: 4rem;
      }
    }

    &__list__item .wrapper {
      display: flex;
      justify-content: space-between;
      picture {
        flex-basis: 5%;

        @include media-query(420px) {
          flex-basis: 20%;
          display: flex;
          align-self: flex-start;
        }
        img {
          width: 15rem;
          height: 100%;
          object-fit: cover;
          @include media-query(420px) {
            width: 100%;
          }
        }
      }

      .select__amount {
        display: flex;
        flex-direction: column;
        form {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        @include media-query(420px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .radio__group {
          margin-right: 1rem;
          // margin-bottom: 0.5rem;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .details {
        flex-basis: 95%;
        padding: 0 3rem;
        @include media-query(420px) {
          padding: 0 1.5rem;
        }
        .details__name {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0 0 1rem 0;
          border-bottom: 1px solid #ebebeb;
          @include media-query(420px) {
            padding: 0rem;
            line-height: 1;
          }
          .name {
            font-size: 1.6rem;
            font-weight: bold;
          }
          .actions ul {
            display: flex;
            align-items: center;
            li {
              margin-left: 2rem;
              button {
                border: none;
                background: transparent;
                color: $dark;
                cursor: pointer;
                color: $error;
                transition: 0.5s ease;
                &:hover {
                  color: darken($error, 20);
                }
              }
            }
          }
        }

        .details__amount {
          padding: 1rem 0;
          display: flex;
          justify-content: space-between;
          h4 {
            font-size: 1.4rem;
          }
          .amount {
            color: $orange;
          }
        }
      }
    }
    .list__total {
      margin-top: 2rem;
      padding: 2rem 0;
      border-top: 2px solid #404040;
      &__detail {
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
      }

      &__btns {
        margin-top: 5rem;

        button {
          margin-left: auto;
          display: block;
          padding: 1rem 1.6rem;
          width: 16rem;
          text-align: center;
          border: none;
          background-color: $error;
          text-decoration: none;
          background-color: $blue;
          color: $light;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5s ease;
          &:hover {
            background-color: darken($blue, 20);
          }
        }
      }
    }
  }
}
