//Component
.form-group {
  .error-input {
    border: 1px solid $error;
    background-color: lighten($error, 35);
  }

  .error-msg {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 1.4rem;
    color: #fc3838;
  }
}

.card {
  .form-group {
    .error-msg {
      top: 10px;
    }
  }
}

.form-group.generate--password {
  display: flex;
  .wrapper {
    flex-basis: 80%;
    margin-right: 1rem;
  }
  .btn--generate {
    align-self: flex-end;
    padding: 1rem;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    background-color: $orange;
    color: $light;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background-color: darken($orange, 20);
    }
  }
}
