//Component
.form-group {
  .error-input {
    border: 1px solid $error;
    background-color: lighten($error, 35);
  }

  .error-msg {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 1.4rem;
    color: #fc3838;
  }
}

.card {
  .form-group {
    .error-msg {
      top: 10px;
    }
  }
}
