.general__donation {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    margin: 5rem 0;
    width: 47rem;
    padding: 5rem 2rem;
    border: 1px solid #ccc;
  }

  &__header {
    text-align: center;
    margin-bottom: 3rem;
  }

  form .btn {
    @include btn($blue, 100%);
    width: 100%;
  }

  .cards__icon img {
    width: 150px;
  }

  .paypal__icon img {
    width: 60px;
  }

  a {
    display: block;
    text-align: center;
    color: $blue;
    margin: 2rem;
  }

  .cheque__donation {
    margin-top: 2rem;
    p {
      margin-bottom: 2rem;
    }
  }

  .donation__support p {
    font-size: 1.2rem;
  }
}
