.modal {
  background-color: rgba(0, 0, 0, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  z-index: 9999;
  &__main {
    border-radius: 5px;
    width: 34rem;
    max-width: 34rem;
    background-color: $light;
    min-height: 21rem;
    margin: 1rem;
    padding: 2rem 3rem;
    text-align: center;
    position: relative;

    .modal__close {
      position: absolute;
      top: -1rem;
      right: -1rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $blue;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: $light;
      cursor: pointer;
      transition: 0.2s ease;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
    h2 {
      margin-bottom: 1rem;
      padding: 0 0 1rem 0;
      border-bottom: 1px solid rgba($gray, 0.9);
      color: $dark-1;
      text-transform: uppercase;
    }

    p.child__story {
      font-size: 1.4rem;
      height: 13rem;
      overflow-y: scroll;
      text-align: left;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      .total__value {
        font-size: 5rem;
        color: $orange;
      }
    }
    .text-success {
      color: $success;
    }

    .text-blue {
      color: $blue;
    }

    .text-error {
      color: $error;
    }

    label {
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: left;
    }

    .child_profile {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-bottom: 2rem;
    }

    select {
      width: 100%;
      padding: 0.8rem;
      border-radius: 8px;
      outline: none;
    }

    textarea {
      height: 8rem;
      border: 1px solid #4d4d4d;
      padding: 0.8rem 1rem;
      border-radius: 0.8rem;
      outline: none;
    }

    input[type="radio"] + label {
      display: inline-block;
    }
    input[type="radio"] {
      width: auto;
    }

    button,
    a {
      padding: 1rem 1.4rem;
      display: inline-block;
      border-radius: 5px;
      border: none;
      font-size: 1.4rem;
      cursor: pointer;
      width: 100%;
      margin-top: 1rem;
      background-color: #3f9cd1;
      color: #fff;
      text-decoration: none;
    }

    p {
      margin-bottom: 2rem;
    }
    .btn-error {
      background-color: #fc3838;
      &:hover {
        background-color: darken(#fc3838, 20);
      }
    }

    img {
      margin-bottom: 2rem;
    }

    input,
    textarea {
      width: 100%;
    }

    &__action {
      a {
        padding: 1rem 1.4rem;
        display: block;
        border-radius: 5px;
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 1rem;
        background-color: $blue;
        color: $light;
        &:hover {
          background-color: darken($blue, 20);
        }
      }
    }
  }
}

.modal.profileChild {
  .modal__main {
    max-width: 55rem;
    width: 100%;
    margin: 0 1.5rem;
    form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .form-group {
        margin-bottom: 0;
        .error-msg {
          top: 10px;
        }
        @include media-query(420px) {
          grid-column: 1 / 3;
        }
      }
      grid-gap: 1rem;
      .form-group:nth-of-type(5) {
        grid-column: 1 / 3;
      }

      .form-group:last-child {
        grid-column: 1 / 3;
        button {
          width: 15rem;
        }
      }

      label {
        text-align: left;
      }
      input[type="date"] {
        padding: 0.55rem 1rem;
      }
    }
  }
}

.return__signin {
  display: block;
  text-decoration: none;
  margin: 1rem 0;
  text-align: center;
  color: $blue;
}

.return__signup {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: $blue;
  }
}

.card .with__cancel button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.with__cancel {
  margin-top: 1.6rem;
  button:first-child {
    margin-bottom: 1rem;
    &:hover {
      background-color: darken($blue, 20);
    }
  }

  .btn__cancel {
    background-color: $dark-1;
    transition: 0.5s ease;
    margin-bottom: 1rem;
    margin-top: 0;
    &:hover {
      background-color: darken($dark-1, 20);
    }
  }
  .btn__action {
    background-color: $blue;
    transition: 0.5s ease;
    margin-top: 0;
    margin-bottom: 1rem;
    &:hover {
      background-color: darken($blue, 20);
    }
  }

  .btn--error,
  .btn__error {
    background-color: $error;
    transition: 0.5s ease;
    &:hover {
      background-color: darken($error, 20) !important;
    }
  }
}

.show {
  display: flex;
}

// THIS STYLE IS FOR MODAL ERROR ONLY

.modal .error__modal {
  padding: 3rem 0;
  a {
    background-color: #fc3838;
  }

  img {
    margin-bottom: 0;
  }

  .error-msg {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    span {
      align-self: center;
      padding: 0 1rem;
      color: $error;
    }
  }

  p {
    padding: 0 2rem;
    margin-bottom: 0;
  }
}

// THIS STYLE IS FOR MODAL SPINNER ONLY

.modal.loading {
  background-color: rgba(255, 255, 255, 0.6);
  .modal__main.spinner_modal {
    width: 30rem;
    min-height: 5rem;
    background-color: transparent;
    p {
      margin-top: 2rem;
      font-weight: bold;
    }
  }
}

$offset: 187;
$duration: 2s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
    colors ($duration * 3) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }

  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

//ERROR STYLE ON MODAL

.modal .modal__main.card {
  max-width: 80rem;
  width: 70%;

  @include media-query(800px) {
    width: 90%;
  }

  @include media-query(420px) {
    width: 98%;
    padding: 4rem 1.5rem;
  }

  form {
    .card__wrap {
      display: grid;
      //grid-template-columns: repeat(auto-fit, minmanx (200px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 1rem;
    }
    @include media-query(420px) {
      flex-direction: column;
      overflow-y: scroll;
      height: 600px;
      padding-right: 2rem;
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: darken($blue, 10);
      }
    }

    .form-group {
      text-align: left;
      margin: 0;
    }
  }
  button {
    margin-top: 2rem;
    max-width: 20rem;
  }
}

.modal .modal_profile {
  label {
    display: block;
    text-align: left;
  }
  .error-msg {
    top: 0 !important;
  }
}

//MODAL ERROR ADDED ON 2-9
.modal__errormsg {
  font-size: 1.4rem;
  color: $error;
  padding: 0.2rem;
  display: none;
}

.modal__errormsg.show {
  display: block;
}

//NEW MODAL 2-19
.modal__box.show {
  display: flex;
  z-index: 99999;
}

.modal__box {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &__main {
    margin: 14rem 0;
    background-color: $light;
    max-width: 40rem;
    width: 100%;
    min-height: 20vh;
    transition: 1.5s ease;
    animation-name: ModalShow;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  &__head {
    padding: 2rem;

    h3 {
      text-align: center;
      color: $dark;
    }
  }
  &__body {
    padding: 2rem;
    background-color: $light-1;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    max-height: 60vh;
    overflow-y: auto;

    .thumbnail__block {
      text-align: center;
      img {
        width: 8rem;
        height: 8rem;
        margin: 0 auto;
        border-radius: 50%;
      }
    }

    .info__block {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      h4 {
        padding-right: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .info__block.story {
      display: block;
    }
  }
  &__footer {
    padding: 2rem;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
    button {
      @include btn__modal($blue);
      margin-left: 0.5rem;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
    .btn--action {
      background-color: $blue;
      color: $light;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
    .btn--cancel {
      background-color: $dark-1;
      color: $light;
      &:hover {
        background-color: darken($dark-1, 20);
      }
    }

    .btn--error {
      background-color: $error;
      &:hover {
        background-color: darken($error, 20);
      }
    }
  }

  &__inner__block {
    margin: 4rem 0;
    h3 {
      margin-bottom: 1rem;
      text-transform: uppercase;
      color: lighten($dark, 50);
    }
  }
}

//Modal Checkout

.modal__payment__option {
  li {
    margin-bottom: 2rem;

    a {
      @include btn($blue, 100%);
      transition: 0.5s ease;
      color: $light !important;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
  }
}

.child__modal__wrapper {
  color: #000;
  h4 {
    margin-bottom: 1rem;
  }
  .radio__wrap {
    display: flex;
  }

  .modal__total__amount {
    display: flex;
    justify-content: space-between;
    background-color: $gray;
    padding: 0.5rem;
    li {
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

@keyframes modalShow {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.custom__error__msg {
  padding: 1rem;
  color: $error;
  background-color: lighten($error, 35);
  margin: 1rem 0;
  border: 1px solid $error;
  p {
    margin-bottom: 0.5rem;
  }
  ul {
    flex-direction: column;
    li {
      margin-bottom: 0.5rem;
    }
  }
}
