.modal {
  background-color: rgba(0, 0, 0, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  &__main {
    border-radius: 5px;
    width: 34rem;
    max-width: 34rem;
    background-color: $light;
    min-height: 21rem;
    margin: 1rem;
    padding: 4rem 3rem;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
      padding: 0 0 1rem 0;
      border-bottom: 1px solid rgba($gray, 0.9);
      color: $blue;
      text-transform: uppercase;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      .total__value {
        font-size: 5rem;
        color: $orange;
      }
    }

    label {
      display: block;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .child_profile {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-bottom: 2rem;
    }

    select {
      width: 100%;
      padding: 0.8rem;
      border-radius: 5px;
      outline: none;
    }

    input[type="radio"] + label {
      display: inline-block;
    }

    button,
    a {
      padding: 1rem 1.4rem;
      display: inline-block;
      border-radius: 5px;
      border: none;
      font-size: 1.4rem;
      cursor: pointer;
      width: 100%;
      margin-top: 1rem;
      background-color: #3f9cd1;
      color: #fff;
      text-decoration: none;
    }

    p {
      margin-bottom: 2rem;
    }

    &__action {
      a {
        padding: 1rem 1.4rem;
        display: block;
        border-radius: 5px;
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 1rem;
        background-color: $blue;
        color: $light;
        &:hover {
          background-color: darken($blue, 20);
        }
      }
    }
  }
}

.return__signin {
  display: block;
  text-decoration: none;
  margin: 1rem 0;
  text-align: center;
  color: $blue;
}

.return__signup {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: $blue;
  }
}

.show {
  display: flex;
}

// THIS STYLE IS FOR MODAL ERROR ONLY

.modal .error__modal {
  a {
    background-color: #fc3838;
  }
}

// THIS STYLE IS FOR MODAL SPINNER ONLY

.modal.loading {
  background-color: rgba(255, 255, 255, 0.9);
  .modal__main.spinner_modal {
    width: 15rem;
    min-height: 5rem;
    background-color: transparent;
  }
}

$offset: 187;
$duration: 2s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
    colors ($duration * 3) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

//ERROR STYLE ON MODAL
.modal .form-group.error {
  .error-msg {
    color: $error;
    right: 50%;
    transform: translateX(50%);
    top: 102%;
  }

  label {
    color: $error;
  }

  label.radio-label {
    color: $dark;
  }
  select,
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    border: 2px solid $error;
    background-color: #ffc4c4;
    color: $error;
  }
}
