.guest__login {
  padding: 5rem 0;
  &__wrapper {
    max-width: 72rem;
    margin: 0 auto;
  }

  .guest__login__opt {
    margin: 0 1.5rem 3rem 1.5rem;

    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid $gray;
    h2 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }

    button.btn {
      @include btn($blue, 20rem);
      margin-left: 0;
      margin-right: auto;
      transition: 0.5s ease;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
  }
  .opt__2 {
    form {
      max-width: 45rem;
      margin: 0 auto;
    }
  }

  .radio__group {
    display: flex;
    align-items: center;
    input {
      align-self: center;
    }
    .input__icon {
      display: flex;
      align-items: center;
      padding-left: 1rem;
    }
    ul {
      display: flex;
    }
  }
}
