.childlist {
  &__nav {
    border-bottom: 2px solid $darkgray;
    margin-top: 3rem;
    margin-bottom: 6rem;
    @include media-query(890px) {
      margin-top: 0rem;
      margin-bottom: 0;
      border-bottom: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      @include media-query(890px) {
        flex-direction: column;
      }
      li {
        padding: 2rem 7rem;
        position: relative;
        @include media-query(890px) {
          text-align: center;
          padding: 1rem;
          margin-bottom: 0rem;
        }
        &::after {
          content: "";
          left: 0;
          top: calc(100% - 1px);
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: $blue;
          display: none;
          @include media-query(890px) {
            height: 2px;
          }
        }
      }

      li.active {
        &::after {
          display: block;
        }
        a {
          color: $blue;
        }
      }
      a {
        font-size: 3rem;
        color: $darkgray;
        width: 33.3%;
        font-weight: bold;
        @include media-query(890px) {
          font-size: 2rem;
        }
      }
    }
  }

  &__description {
    margin-bottom: 3rem;
    p {
      max-width: 75rem;
      text-align: center;
      margin: 0 auto;
      @include media-query(420px) {
        padding: 0 1.5rem;
      }
    }
  }

  &__main {
    padding: 2rem 0 8rem;
    @include media-query(420px) {
      padding: 1rem 0 8rem;
    }
  }
}

.childlist__list {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @include media-query(980px) {
    padding: 0 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  @include media-query(420px) {
    padding: 0 1.5rem;
    grid-template-columns: 1fr;
  }
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__box {
    position: relative;
  }
  &__boxInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $light;
    .wrapper {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      h3 {
        span {
          font-size: 1.4rem;
        }
      }
      a.btn-sponsor {
        display: flex;
        background-color: $blue;
        align-self: center;
        align-items: center;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: $light;
        img {
          width: unset;
          padding-left: 1rem;
        }
      }

      a {
        color: $orange;
      }
    }
    .sponsor__bar {
      background-color: #ffc67b;
      position: relative;
      &__percent {
        position: absolute;
        height: 100%;
        width: 90%;
        background-color: $orange;
      }
      p {
        position: relative;
        z-index: 2;
        font-size: 1.3rem;
        padding: 0.3rem;
        margin: 0;
      }
    }
  }
}
