.guest__login {
  padding: 5rem 0;
  &__wrapper {
    max-width: 72rem;
    margin: 0 auto;
  }

  .guest__login__opt {
    margin: 0 1.5rem 3rem 1.5rem;

    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid $gray;
    h2 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }

    a.btn,
    button.btn {
      @include btn($blue, 20rem);
      margin-left: 0;

      transition: 0.5s ease;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
  }
  .opt__2 {
    &__header {
      text-align: center;
      margin-bottom: 1rem;
      p {
        margin-bottom: 0.5rem;
      }
    }

    form {
      max-width: 45rem;
      margin: 0 auto;
      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include media-query(420px) {
          grid-template-columns: 1fr;
        }
        grid-gap: 1rem;
      }
      .guest__btns {
        display: flex;
        .btn {
          margin-right: 1rem;
          &__cancel {
            background-color: #4d4d4d;
            &:hover {
              background-color: #1a1a1a;
            }
          }
        }
      }

      .guest__address {
        p {
          margin-top: 0.5rem;
        }
      }

      .guest__separator {
        h3 {
          border-bottom: 1px solid #ccc;
          padding: 1rem 0;
          margin-bottom: 1rem;
          opacity: 0.6;
          text-transform: uppercase;
        }
        margin-bottom: 2rem;
      }

      .donation__amount {
        .radio__wrap {
          display: flex;
          input {
            height: 2.5rem;
          }
        }
      }
    }
  }
}
