.guest__login {
  padding: 5rem 0;
  &__wrapper {
    max-width: 72rem;
    margin: 0 auto;
  }

  .guest__login__opt {
    margin: 0 1.5rem 3rem 1.5rem;

    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid $gray;
    h2 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }

    a.btn,
    button.btn {
      @include btn($blue, 20rem);
      margin-left: 0;
      margin-right: auto;
      transition: 0.5s ease;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
  }
  .opt__2 {
    form {
      max-width: 45rem;
      //   margin: 0 auto;
    }
  }

  .button__group {
    margin-right: 2rem;
    position: relative;
    border-radius: 1rem;
    border: none;
    button {
      width: 16rem;
      padding: 0.8rem 1.6rem;
      border-radius: 0.5rem;
      cursor: pointer;
      outline: none;
      transition: 0.5s ease;
    }
    button.btn-paypal {
      border: 1px solid $orange;
      background-color: $orange;
      &:hover {
        background-color: darken($orange, 10);
      }
    }
    button.btn-creditCard {
      border: 1px solid $blue;
      background-color: $blue;
      &:hover {
        background-color: darken($blue, 20);
      }
    }
  }
}
